.navbar{
    display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,60px);
    /* background-color: #a9a9a9;
    border: #a9a9a9; */
    

}
.navbar .profile{
    width: 75px;
}